
.full_width_button {
    width: 100%;
}

.curser_pointer{
    cursor: pointer;
}

.form_card{
    width: 350px;
    margin-top: 100px;
}

@media screen and (max-width: 450px) { 
    .form_card{
        width: 250px;
    }
}