.main_div{
    margin-top: 56px;
}

.full_width_button {
    width: 100%;
}

.curser_pointer{
    cursor: pointer;
}

.form_card{
    width: 350px;
    margin-top: 100px;
}

@media screen and (max-width: 450px) { 
    .form_card{
        width: 250px;
    }
}

.auswahl_accordion{
    width: 800px;
}

.card_thema{
    width: 1000px;
    height: 700px !important;
}

.seiten_anzahl{
    width: 40px;
    height: 40px;
}

.thema_content{
    height: 700px !important;
    overflow: auto;
}

.thema_footer{
    height: 100px;
}

.textarea_seite{
    width: calc(100% - 32px);
    height: 100%;
    border: 0;
    resize: none;
    outline: none;
    background: transparent;
}